<h1>This is a Demo of Expo Apps with React on Rails</h1>

<ol>
  <li>
    <a href="/expo/hello-world">Expo Hello World Without React Navigation</a>
  </li>
  <li>
    <a href="/expo/one">Expo Hello World With React Navigation</a>
  </li>
  <li>
    <a href="/expo-helmet/one">Expo With React Navigation and React Helmet</a>
  </li>
</ol>

