<h1>This is a Demo of Server rendered Expo React Navigation App with React on Rails</h1>

<%= react_component("ExpoAppWithNavigation", props: @expo_props, prerender: false) %>

<%# expo_navigation_app = react_component_hash("ExpoAppWithNavigation", props: @expo_props, prerender: true) %>

<%#= expo_navigation_app['componentHtml'] %>





